@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

:root {
  /* dark theme */
  --light-blue: #e2f3f5;
  --gray-1: #3a3c43; /*header*/
  --gray-2: #2a2b30; /*form*/
  --gray-3: #18191c; /*main content*/
  --gray-4: #0b0b0d; /*footer*/
  --gray-5: #eee; /*input grey*/
  --gray-6: #1f2024; /*list item hover*/

  --text: var(--light-blue);
  --header-bg: var(--gray-1);
  --form-bg: var(--gray-2);
  --main-bg: var(--gray-3);
  --footer-bg: var(--gray-4);
  --input-bg: var(--gray-5);
  --main-bg-hover: var(--gray-6);
  --input-blue: #22a5ee;
  --input-red: #ad0000;
  --btn-bg: var(--input-blue);
  --section-border: 0;
  --input-border: 0;
  --color-transition: color 1s;
  --bg-transition: background-color 1s;
  --border-transition: border 1s;
}

/* light theme */
body.light-theme {
  --light-bg: rgb(245, 245, 245);

  --text: black;
  --header-bg: var(--light-bg);
  --form-bg: var(--light-bg);
  --main-bg: var(--light-bg);
  --footer-bg: var(--light-bg);
  --input-bg: var(--light-bg);
  --btn-bg: var(--light-bg);
  --main-bg-hover: rgb(235, 235, 235);
  --section-border: 2px solid #ccc;
  --input-border: 1px solid black;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  color: var(--text);
  transition: var(--color-transition);
}

a {
  text-decoration: none;
  color: var(--text);
  transition: var(--color-transition);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 80rem;
  height: 100%;
  margin: 0 auto;
}

header {
  height: 5.25rem;
  background: var(--header-bg);
  border-bottom: var(--section-border);
  transition: var(--bg-transition), var(--border-transition);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

nav .brand {
  font-size: 2rem;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  margin-left: 4.5rem;
}

nav ul li a {
  font-size: 1.25rem;
  font-weight: bold;
}

/* dark/light toggle switch */
.switch {
  position: relative;
  display: inline-block;
  width: 3.75rem;
  height: 2.125rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 2.125rem;
}

.slider .icon {
  position: absolute;
  content: '';
  height: 1.625rem;
  width: 1.625rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .icon img {
  height: 1.2rem;
  width: 1.2rem;
}

.slider .icon .light {
  display: none;
}

input:checked + .slider .icon .light {
  display: inline-block;
}

.slider .icon .dark {
  display: inline-block;
}

input:checked + .slider .icon .dark {
  display: none;
}

input:focus + .slider {
  box-shadow: 0 0 5px black;
}

input:checked + .slider .icon {
  -webkit-transform: translateX(1.625rem);
  -ms-transform: translateX(1.625rem);
  transform: translateX(1.625rem);
}

.form-container {
  height: 7.5rem;
  background: var(--form-bg);
  border-bottom: var(--section-border);
  transition: var(--bg-transition), var(--border-transition);
}

.form-container form {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.form-container label {
  font-size: 2.625rem;
}

.form-container input {
  background: var(--input-bg);
  border: var(--input-border);
  transition: var(--bg-transition), var(--border-transition);
  outline: none;
  border-radius: 1.563rem;
  margin-left: 7.5rem;
  padding: 0.5rem 1rem;
  flex-grow: 1;
  height: 3.125rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.form-container button {
  border-radius: 1.563rem;
  border: var(--input-border);
  background: var(--btn-bg);
  transition: var(--bg-transition), var(--border-transition), var(--color-transition);
  outline: none;
  height: 3.125rem;
  margin-left: 1.5rem;
  padding: 0 2.5rem;
  cursor: pointer;
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--text);
}

.list-container {
  flex: 1 0 auto;
  background: var(--main-bg);
  border-bottom: var(--section-border);
  transition: var(--bg-transition), var(--border-transition);
}

.list-container ul li {
  display: flex;
  align-items: center;
  height: 4.75rem;
}

.list-container ul li:hover {
  background: var(--main-bg-hover);
  transition: var(--bg-transition);
}

/* checkbox */

.checkbox {
  display: block;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: 0;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  border: var(--input-border);
  background-color: var(--input-bg);
  transition: var(--bg-transition), var(--border-transition);
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox .checkmark:after {
  content: '';
  display: none;
  width: 1.625rem;
  height: 1.625rem;
  border-radius: 50%;
  background: var(--input-blue);
}

.checkbox input:checked + .checkmark:after {
  display: block;
}

.list-container .description {
  font-size: 1.5rem;
  margin-left: 2.5rem;
}

/* slider */

.list-container .slider-input {
  margin-left: auto;
}

.slider-input {
  border-radius: 0.781rem;
  border: var(--input-border);
  outline: 0;
  width: 40rem;
  height: 1.563rem;
  -webkit-appearance: none;
  background: var(--input-bg);
  transition: var(--bg-transition), var(--border-transition);
  overflow: hidden;
}

.slider-input::-webkit-slider-thumb {
  width: 0;
  height: 1.563rem;
  -webkit-appearance: none;
  background: var(--input-blue);
  box-shadow: -100vw 0 0 100vw var(--input-blue);
}

.slider-value {
  width: 4rem;
  font-size: 1.5rem;
  margin-left: 1rem;
}

.delete-btn {
  background-color: var(--input-red);
  border: none;
  outline: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-left: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.delete-btn img {
  width: 1.2rem;
  height: 1.2rem;
}

footer {
  background: var(--footer-bg);
  transition: var(--bg-transition);
  height: 5.375rem;
  flex-shrink: 0;
}

footer .brand {
  font-size: 2rem;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* HOME */

.home-container {
  flex: 1 0 auto;
  background: var(--main-bg);
  border-bottom: var(--section-border);
  transition: var(--bg-transition), var(--border-transition);
  padding-top: 3.75rem;
}

.home-container p {
  max-width: 54rem;
  text-align: center;
  margin: 0 auto;
  font-size: 3rem;
}

/* DETAILS */

.details-container {
  flex: 1 0 auto;
  background: var(--main-bg);
  border-bottom: var(--section-border);
  transition: var(--bg-transition), var(--border-transition);
  padding-top: 3.75rem;
}

.details-container .row {
  display: flex;
  align-items: center;
  height: 5rem;
  margin-left: 8rem;
}

.details-container .row-name {
  font-size: 2rem;
  margin-right: 9.5rem;
}

.details-container div {
  font-size: 1.5rem;
}

.details-container .btn-row {
  display: flex;
  justify-content: center;
}

.details-container button {
  background: var(--btn-bg);
  border-radius: 2.125rem;
  border: var(--input-border);
  outline: 0;
  height: 4.25rem;
  margin-top: 8rem;
  padding: 0 4rem;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  color: var(--text);
  transition: var(--color-transition), var(--bg-transition), var(--border-transition);
}
